* {
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
    /* font-family: Roboto-Bold, sans-serif; */
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

button {
    font-family: inherit;
    color: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: none;
    text-transform: none;
    cursor: pointer;
    background-color: #fff;
}